repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--pattern, "^release/.*"]
      - id: detect-private-key

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.21
    hooks:
      - id: uv-lock

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          [
            Flake8-pyproject==1.2.*,
            Flake8-AAA==0.17.*,
            wemake-python-styleguide==1.5.*,
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: ["--config-file=pyproject.toml", "."]
        pass_filenames: false
        additional_dependencies:
          - pydantic==2.11.*
          - types-openpyxl==3.1.*
          - types-python-dateutil==2.9.*
          - types-requests==2.31.*
          - typing-extensions==4.13.*
