services:
  app:
    container_name: swo_cli
    build:
      context: .
      dockerfile: prod.Dockerfile
    working_dir: /cli
    stdin_open: true
    tty: true
    volumes:
      - .:/cli

  app_test:
    container_name: swo_cli_test
    build:
      context: .
      dockerfile: dev.Dockerfile
    working_dir: /cli
    command: bash -c "ruff format --check . && ruff check . && flake8 --select AAA . && mypy . && uv lock --check && pytest"
    volumes:
      - .:/cli

  bash:
    container_name: swo_cli_bash
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: bash
    working_dir: /cli
    stdin_open: true
    tty: true
    volumes:
      - .:/cli

  format:
    container_name: swo_cli_format
    build:
      context: .
      dockerfile: dev.Dockerfile
    working_dir: /cli
    command: bash -c "ruff check . --select I --fix && ruff format ."
    volumes:
      - .:/cli
