[tool.poetry]
name = "mpt-cli"
version = "2.0.0"
description = "Command line utility for SoftwareOne Marketplace Platform"
authors = ["SoftwareOne AG"]
license = "Apache-2.0 license"
packages = [
    { include = "swo" }
]
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.12",
    "Topic :: Utilities"
]
keywords = [
    "fulfillment",
    "command",
    "line",
    "interface",
    "utility",
    "cli",
    "softwareone",
    "marketplace",
]

[tool.poetry.dependencies]
python = ">=3.12,<4"
openpyxl = "3.1.*"
pydantic = "2.7.*"
pyfiglet = "1.0.*"
requests = "2.31.*"
requests-toolbelt = "1.0.*"
typer = "0.12.*"

[tool.poetry.group.dev.dependencies]
ipdb = "0.13.*"
ipython = "8.*"
mypy = "1.8.*"
poetry-plugin-sort = "0.2.*"
pre-commit = "3.6.*"
pytest = "7.4.*"
pytest-cov = "4.1.*"
pytest-deadfixtures = "2.2.*"
pytest-mock = "3.12.*"
pytest-randomly = "3.15.*"
pytest-xdist = "3.5.*"
responses = "0.24.*"
ruff = "0.3.*"
types-requests = "2.31.*"
typing-extensions = "4.9.*"

[tool.poetry.scripts]
mpt-cli = 'swo.mpt.cli.swocli:app'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
pythonpath = "."
addopts = "--cov=swo/mpt/cli --cov-report=term-missing --cov-report=html --cov-report=xml"
log_cli = false
filterwarnings = [
    "ignore:Support for class-based `config` is deprecated:DeprecationWarning",
    "ignore:pkg_resources is deprecated as an API:DeprecationWarning",
]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_also = [
    "if __name__ == \"__main__\":",
]

[tool.ruff]
extend-exclude = [".vscode", ".devcontainer"]
output-format = "full"

[tool.ruff.lint]

select = [
    "E",  # w errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4",  # flake8-comprehensions
    "UP",  # pyupgrade,
    "PT",  # flake8-pytest-style
    "T10",  # flake8-pytest-style
]
ignore = [
    "PT004", # fixture '{name}' does not return anything, add leading underscore
    "PT011", # pytest.raises({exception}) is too broad, set the match parameter or use a more specific exception
    "B008",  # do not perform function calls in argument defaults
    "B904",  # Within an `except` clause, raise exceptions with `raise ... from err` or `raise ... from None` to distinguish them from errors in exception handling
]

[tool.ruff.lint.isort]
known-third-party = ["swo"]

[tool.ruff.lint.pycodestyle]
max-line-length = 100

[tool.mypy]
warn_no_return = false
exclude = ['tests']
plugins = ["pydantic.mypy"]

[[tool.mypy.overrides]]
module = "pyfiglet.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "gunicorn.*"
ignore_missing_imports = true
