name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write  # for OIDC
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: "Install uv"
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.7.*"
        enable-cache: true
        cache-dependency-glob: uv.lock

    - name: "Get the version"
      id: get_version
      run: echo  "VERSION=${GITHUB_REF/refs\/tags\//}" >> "$GITHUB_OUTPUT"

    - name: "Build"
      run: |
        uv version ${{ steps.get_version.outputs.VERSION }}
        uv build

    - name: "Publish to PyPI"
      run: uv publish
